@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-white-fixed: #ffffff;
    --color-grey-4: #DEE2E6;
    --color-blue: #4263EB;
    --color-background: #ffffff8a;

    --radius-1: 0.25rem;
    --font-family-1: "Inter", sans-serif;

    --size-button: 0.875rem;
    --size-title: 1.75rem;;
    --size-2: 1rem;

    --pading-1: 40px 24px;
    --pading-2: 16px 20px 16px 20px;
    --pading-3: 0px 12px 0px 12px;

    --font-wheigth: 0.375;
    --font-wheigth-1: 600;

    --gap: 12px;
    --gap-2: 20px;

}

body{
    font-family: var(--font-family-1);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul{
    list-style: none;
}

.img {
    width: 52px;
}